CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
*.geany
*.dll
*.a
*.so
*.o
*.png
!data/*.png
*.exe
*.dylib
*.out
nekoInstaller*
.ninja_deps
.ninja_log
.ninja_lock
build.ninja
.cmake